<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@400;500&family=Ubuntu&display=swap"
    rel="stylesheet"
  />
</head>
<div class="skills-container">
  <h2>HABILIDADES Y COMPETENCIAS</h2>
  <ul class="skills-list">
    <li *ngFor="let skill of habilidades">
      <div class="skill-item">
        <p class="skill-name">{{ skill.skil }}</p>
      </div>
      <div class="skill-bar">
        <div class="skill-fill" [style.width.%]="skill.Porcentaje"></div>
      </div>
    </li>
  </ul>
</div>
