.cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cv-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px; /* Añadimos un margen superior para separar los componentes */
}

/* Estilos adicionales para cada componente si es necesario */

/* Estilos específicos para app-skills */
app-skills {
  flex: 1; /* Hacemos que app-skills ocupe el espacio restante horizontalmente */
  max-width: 400px; /* Limitamos el ancho máximo para evitar que se extienda demasiado */
}
