.cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cv-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.component-container {
  flex-basis: calc(
    50% - 20px
  ); /* Calcula el 50% del ancho menos el espacio entre componentes */
  margin: 10px; /* Espacio entre componentes */
  box-sizing: border-box;
}
